page-primary-order-main {
    .slab{
        justify-content: space-between;
     }

     .filterDate{
        background: #eee;
        padding: 4px;
        font-size: 12px;
        font-weight: bold; 
    }


    
}
